<div>
  <h2 class="section-title">Lorem Lorem Lorem</h2>

  <div class="main-flow">
    <div class="network-diagram">
      <div class="network-row">
        <div class="network-node">
          <img [src]="sourceNode.imageUrl" alt="" />
          <p class="node-label">{{ sourceNode.label }}</p>
        </div>

        <img src="image.svg" alt="Arrow-Left" />

        <div class="network-node">
          <img [src]="middleNode[0].imageUrl" alt="" />
          <p class="node-label">{{ middleNode[0].label }}</p>
        </div>

        <img src="image.svg" alt="Arrow-Left" />

        <div class="network-node">
          <img [src]="middleNode[1].imageUrl" alt="" />
          <p class="node-label">{{ middleNode[1].label }}</p>
        </div>
      </div>
      <img src="bi-connection.svg" alt="Arrow-Left" />

      <div class="bi-row">
        <div class="network-binode" *ngFor="let node of endNodes">
          <img [src]="node.imageUrl" class="node-img" alt="End Node" />
          <span class="node-label">{{ node.label }}</span>
          <p class="node-ip">{{node.ip}}</p>
        </div>
      </div>
    </div>

        <div class="network-status">
      <div class="status-node" *ngFor="let node of statusNode" >
        <img [src]="node.imageUrl" class="status-img" [alt]="node.imageAltText" />
        <span class="node-label-status" [ngClass]="node.status">
          {{ node.label }}
        </span>
      </div>
    </div>

    <div class="hover-card">
  <!-- Header -->
  <div class="card-header">
    <div class="card-icon">
      <img src="purple-user.svg" alt="Server" />
    </div>
    <div class="card-title">
      <h3>Loremipsumdolorsit</h3>
      <p class="subtitle">192.168.1.1</p>
    </div>
  </div>

  <!-- Row 1 -->
  <div class="card-row">
    <img src="document.svg" alt="Doc Icon" class="row-icon" />
    <strong>Lorem:</strong>
    <span class="highlight-orange">Lorem “Ipsum"</span>
  </div>

  <!-- Row 2 -->
  <div class="card-row">
    <strong>Loremipsum</strong>
    <span class="highlight-blue">Lorem 1234,5678</span>
  </div>
</div>


  </div>
</div>
