<div class="container-fluid py-3">
  <div class="row g-3 responsive-panels">
    
    <!-- Left Panel -->
    <div class="col-12 col-lg-4 left-panel">
      <app-description-tab></app-description-tab>
    </div>

    <!-- Right Panel -->
    <div class="col-12 col-lg-8 right-panel">
      <div class="bg-white rounded-3 p-3 shadow-sm h-100">
        <div>
          <app-network-flow></app-network-flow>
        </div>
        <div class="mt-4">
          <h1 class="fs-5 text-success mb-3">Lorem ipsum dolor sit</h1>
          <app-risk-table></app-risk-table>
        </div>
      </div>
    </div>
  </div>
</div>
