  .table-container {
    border: 1px solid #e5e7eb;
    box-shadow: var(--shadow-sm);
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    width: 367px;
    height: 214px;
      @media (max-width: 768px) {
    max-width: 100%;
  }

    .risk-table {
      width: 100%;
      border-collapse: collapse;

      .table-header {
        th {
          padding: 13px;
          font-size: 14px;
          color: #858D9D;
        }

        tr {
          display: flex;
          justify-content: space-between;
        }
      }

      .table-row td {
        padding: 4px 8px;
        border-top: 1px solid #e5e7eb;
      }
    }

    .asset-icon {
      display: flex;
      align-items: center;
      gap: 2px;
    }

    .asset-cell {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }

    .asset-name {
      font-weight: 600;
      font-size: 13px;
      color: #525D73;
    }

    .asset-ip {
      font-size: 9.45px;
      color: #525D73;
    }

    .pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 10px;
      border-top: 1px solid #e5e7eb;

      .pagination-btn {
        background: none;
        border: none;
        font-size: 18px;
        color: #6b7280;
        cursor: pointer;

        &:disabled {
          opacity: 0.3;
          cursor: not-allowed;
        }
      }

      .pagination-info {
        font-size: 13px;
        color: #6b7280;
      }
    }
  }