<div class="app-container">
  <div class="position-relative">
    <app-sidebar [isSidebarCollapsed]="isSidebarCollapsed" (sidebarToggle)="onSidebarToggle()">

    </app-sidebar>
    <button 
    aria-label="Toggle Sidebar"
    class="sidebar-toggle-btn"
    [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }"
    (click)="onSidebarToggle()">
       <img src="/collapser.svg" alt="">
    </button>
  </div>
  <main class="content" [ngClass]="{'content-expanded' : isSidebarCollapsed}">
    <app-dashboard-content></app-dashboard-content>
  </main>
</div>
 
<router-outlet><router-outlet />
