@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
 font-family: "Public Sans", sans-serif;
 overflow: hidden;
}


@media (max-width: 768px) {
  .server-panel-header {
    padding: 6px 4px !important;
  }
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}
